* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    text-align: center;
}
.meme img {
    margin-top: 5rem;
    width: 30rem;
    height: 30rem;
}

@media only screen and (max-width: 575px){
    h1 {
        font-size: 1.5rem;
    }
    .meme img {
        width: 20rem;
        height: 20rem;
    }
}

@media only screen and (max-width: 375px){
    h1 {
        font-size: 1.5rem;
    }
    .meme img {
        width: 10rem;
        height: 10rem;
    }
}